{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block/student_dashboard
    Example context (json):
    {
    }
}}
<h3>Course:&nbsp<b>{{coursename}}</b> &nbsp</h3> 
<h3>Student Name:&nbsp<b>{{studentname}}</b></h3>
<h4>({{studentemail}})</h4>


<table class="table table-bordered table-hover" >
    <thead class="thead-light">
        <tr>
            <th style="width: 400px" class ="text-center">UNIT NAME</th>
            <th style="width: 90px"class ="text-center">Previous Assessment*</th>
            <th style="width: 90px"class ="text-center">Written Activities</th>
            <th style="width: 90px"class ="text-center">Summative Activities</th>
            <th style="width: 90px"class ="text-center">Overall</th>
        </tr>
        
    </thead>
    <tbody>
    <tr><th colspan="5">Term 1</th></tr>
    {{#grades_term1}}
    <tr>
        <td><i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>{{{link}}}</td>
        <td>{{{previous1}}}</td>
        <td>{{{written}}}</td>
        <td>{{{summative}}}</td>
        <td><b>{{{overall}}}</b></td>
        </tr>
    {{/grades_term1}}
        </tbody>
</table>
<hr>
<table class="table table-bordered table-hover" >
    <thead class="thead-light">
        <tr>
            <th style="width: 400px" class ="text-center">UNIT NAME</th>
            <th style="width: 90px"class ="text-center">Written Activities</th>
            <th style="width: 90px"class ="text-center">Summative Activities</th>
            <th style="width: 90px"class ="text-center">Overall</th>
        </tr>
        
    </thead>
    <tbody>
        <tr><th colspan="5">Term 2</th></tr>
    {{#grades_term2}} 
    <tr>
        <td><i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>{{{link}}}</td>
        <td>{{{written}}}</td>
        <td>{{{summative}}}</td>
        <td><b>{{{overall}}}</b></td>
        </tr>
    {{/grades_term2}}

    <tr><th colspan="5">Term 3</th></tr>
    {{#grades_term3}}
    <tr>
        <td><i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>{{{link}}}</td>
        <td>{{{written}}}</td>
        <td>{{{summative}}}</td>
        <td><b>{{{overall}}}</b></td>
        </tr>
    {{/grades_term3}}

    <tr><th colspan="5">Term 4</th></tr>
    {{#grades_term4}}
    <tr>
        <td><i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>{{{link}}}</td>
        <td>{{{written}}}</td>
        <td>{{{summative}}}</td>
        <td><b>{{{overall}}}</b></td>
        </tr>
    {{/grades_term4}}


    </tbody>
</table>
<hr>
<input type="button" class="btn btn-primary" value="Back" onclick="location.href='https://moodle.libertycollege.edu.au/my/'">